body {
  font-family: 'Open Sans Condensed', 'Arial Narrow', serif;
  font-weight: 400;
  font-size: 15px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #ddd;
  padding-top: 40px;
}

#login-nav input {
  margin-bottom: 15px;
}

.quote-wrap {
  margin: 20px auto;
  padding: 20px;
  position: relative;
}

.quote-wrap p {
  margin: 0;
  padding: 0;
}

.quote-wrap blockquote {
  margin: 0;
  padding: 0;
  position: relative;
}

.quote-wrap cite {
  font-style: normal;
}

.quote-box {
  background: url('../img/leather.jpeg');
  background-size: cover;
  margin-top: 100px;
  padding-top: 100px;
  color: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  border-top: 10px solid #fff;
}

.quote-box .quote-thumb {
  display: block;
  width: 180px;
  height: 180px;
  border: 10px solid #EEE8CD;
  border-radius: 50%;
  background: url(../img/wise.jpg);
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 50%;
  top: -90px;
  margin: 0 0 0 -90px;
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.5), 0 2px 3px rgba(0, 0, 0, 0.6);
}

.quote-box blockquote:before,
.quote-box blockquote:after {
  font-family: 'icons';
  position: absolute;
  font-size: 70px;
  top: -95px;
  color: #242526;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
}

.quote-box blockquote:before {
  content: '\275d';
}

.quote-box blockquote:after {
  right: 0px;
  content: '\e800';
}

.quote-box blockquote p {
  font-family: Cambria, Georgia, serif;
  font-style: italic;
  font-size: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  padding: 10px 10px 20px 10px;
  text-align: center;
  margin: 0 0 20px 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.quote-box .quote-attribution {
  text-align: center;
}

.quote-box .quote-author {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: #FFC125;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
}

.quote-box cite a {
  color: #f0f0f0;
  font-style: italic;
  font-family: Cambria, Georgia, serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7)
}

.quote-box cite a:hover {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9)
}

.quote-buttons {
  width: 50%;
  height: 25px;
  margin: 10px auto 0 auto;
}

#fadeandscale {
  transform: scale(0.8);
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  background-color: #f0f0f0;
  width: 100%;
  max-width: 600px;
}
