<div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle=
    "collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded=
    "false"><span class="sr-only">Toggle navigation</span></button> <a class=
    "navbar-brand" href="#"><img src="img/logo.png" height="30px"></a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <!-- onclick - reload ajax -->
      <li class="active"><a href="#">Random Quote<span class=
      "sr-only">(current)</span></a>
      </li>
    </ul>


    <ul class="nav navbar-nav navbar-right">
      <li><a href="http://www.jquery2dotnet.com">Sign Up</a>
      </li>


      <li class="dropdown">
        <a href="" class="dropdown-toggle"
        data-toggle="dropdown">Sign in</a>

        <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
          <li>
            <div class="row">
              <div class="col-md-12">
                <form class="form" role="form" method="post" action="login"
                accept-charset="UTF-8" id="login-nav" name="login-nav">
                  <div class="form-group">
                    <label class="sr-only" for="exampleInputEmail2">Email
                    address</label> <input type="email" class="form-control"
                    id="exampleInputEmail2" placeholder="Email address"
                    required="">
                  </div>


                  <div class="form-group">
                    <label class="sr-only" for=
                    "exampleInputPassword2">Password</label> <input type=
                    "password" class="form-control" id=
                    "exampleInputPassword2" placeholder="Password" required=
                    "">
                  </div>


                  <div class="checkbox">
                    <label><input type="checkbox"> Remember me</label>
                  </div>


                  <div class="form-group">
                    <button type="submit" class=
                    "btn btn-success btn-block">Sign in</button>
                  </div>
                </form>
              </div>
            </div>
          </li>


          <li><input class="btn btn-primary btn-block" type="button" id=
          "sign-in-google" value="Sign In with Google"> <input class=
          "btn btn-primary btn-block" type="button" id="sign-in-twitter"
          value="Sign In with Twitter"></li>
        </ul>
      </li>
    </ul>
  </div>
  <!-- /.navbar-collapse -->
</div>
<!-- /.container-fluid -->
